{% extends 'layout/layout.html' %}
{%load static %}

{% block title %}Cadastro{% endblock %}
{% block css %}
<link href={% static "css/styles_layout.css" %} rel="stylesheet">
{% endblock %}
{% block content %}



<div class="container">
<div class="image"><img src=""></div>
<div class="mb-2">
    <label for="formGroupExampleInput" class="form-label">Nome completo:</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Seu nome completo">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Número de celular:</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="(XX) 0000-0000">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">E-mail:</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="exemple@email.com">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Nome de usuário:</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="ExemploX">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Senha:</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Escolha uma senha forte">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </div>
</div>

{% endblock %}