<link href={% static "css/styles_layout.css" %} rel="stylesheet">


<div class="container">
    <button type="button" class="btn btn-primary">Editar</button>

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nome completo:</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Seu nome completo">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Nome de usuário:</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="exemploX">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">E-mail:</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="exemple@email.com">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Telefone:</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="(XX) 0000-0000">
      </div>
    
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>




</div>