{% extends 'layout/layout.html' %}
{%load static %}
{% block title %}edicaodacarteira{% endblock %}
{% block css %}

<link href={% static "css/styles_layout.css" %} rel="stylesheet">
{% endblock %}
{% block content %}




<nav class="navbar bg-light">
    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Procurar carteira" aria-label="search">
        <button class="btn btn-outline-success" type="submit">procurar</button>
      </form>
    </div>
    <button type="button" class="btn btn-primary">Comprar</button>
    <button type="button" class="btn btn-primary">Vender</button>
  </nav>

  {% endblock %}