{% extends 'layout/layout.html' %}
{%load static %}
{% block title %}relatorios{% endblock %}
{% block css %}
<link href={% static "css/styles_layout.css" %} rel="stylesheet">
{% endblock %}
{% block content %}

<div class="container">

    div class="card">
    <h5 class="card-header">Relatório geral</h5>
    <div class="card-body">
      <a href="#" class="btn btn-primary">Ver relatório</a>
    </div>
  </div>

  div class="card">
  <h5 class="card-header">Relatórios específicos</h5>
  <div class="card-body">
    <a href="telainicial8.html" class="btn btn-primary">Ver relatórios</a>
  </div>
</div>



</div>

{% endblock %}