{% extends 'layout/layout.html' %}
{%load static %}
{% block title %}inicial2{% endblock %}
{% block css %}

<link href={% static "css/styles_layout.css" %} rel="stylesheet">
{% endblock %}
{% block content %}



<div class="mb-4">   
    <button type="button" class="btn btn-primary">Adicionar nova carteira</button>

    <div class="container">
        <button type="button" class="btn btn-primary">Editar</button>
        <button type="button" class="btn btn-primary">Excluir</button> 
    </div>




</div>

{% endblock %}