
{% extends 'layout/layout.html' %}
{%load static %}
{% block title %}Tela Inicial{% endblock %}
{% block css %}
<link href={% static "css/styles_layout.css" %} rel="stylesheet">
{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    
    <div class="container d-flex justify-content-center align-items-center py-5 h-100">
        <div class="card botaocriarPcarteira col-8" style="background-color: #E1E1E1;">
            <div class="row mt-md-4">
                <div class="p-4 col-6">
                    <i class="bi bi-wallet2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                            <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                            </svg>
                    </i>
                </div>
                <div class="container d-flex justifiy-content-center align-itens-center col-6">
                    <p>
                        Crie sua primeira carteira para iniciar o gerenciamento eficaz de seus investimentos

                        <a class="btn btn-outline-light btn-custom" style="background-color: #05FF00; border-radius: 50px;" role="button" href="Criar_Carteira">
                            <i class="bi bi-plus-circle ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                  </svg>
                            </i>
                        </a>

                    </p>

                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}