
{% extends 'layout/layout.html' %}
{%load static %}
{% block title %}Tela Inicial{% endblock %}
{% block css %}
<link href={% static "css/styles_layout.css" %} rel="stylesheet">
{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    
    <div class="container py-5 h-100">
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-11 ">
                <div class="card" style="border-radius: 20px;">
                    <div class="card-body text-center mb-5000" style="border-radius: 20px; background-color: rgba(225, 225, 225, 1); box-shadow: 15px 15px 9px gray;">    
                        <div class="mt-4 mb-0">
                            <div class="form-inline form-black ">
                                <!--img src={% static "img/icons8-wallet-40.png" %} style="height: 200px; width:200px"-->
                                <i class="col-5 bi bi-wallet2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40%" height="40%" fill="#05FF00" class="bi bi-wallet2 rotate-n-15" viewBox="0 0 16 16">
                                        <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                                    </svg>
                                </i>
                                <p class="col-6 lead pb-0 mb-0 fw-bold" style="font-size: 1.5rem; font-family: Arial, Helvetica, sans-serif; text-shadow: 0.1em 0.2em 0.19em gray; text-decoration-color: black;">
                                    <b>Crie sua primeira carteira para iniciar o gerenciamento eficaz de seus investimentos</b> <br>
                                    <a class="btn btn-custom rounded-circle shadow" role="button" href="Criar_Carteira" style="height: fit-content; width: fit-content;">
                                        <img class="img-thumbnail shadow img-fluid rounded-circle" style="height: 100px; width: 100px;" src={% static "img/icons8-plus-67.png" %}>
                                        
                                    </a>
                                </p>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}