{% csrf_token %}    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="." method="POST">
        {% csrf_token %}

        {{teste}}
       
    <h1> nome: {{teste.longName}}  </h1> 
    <input type="text" value="{{teste.longName}}" name="nome">
    <h1> valor_atual:  {{teste.currentPrice}}</h1>
    <input type="text" value="{{teste.currentPrice}}" name="valor_atual">
    <h1> quantidade_atual:  {{teste.regularMarketPrice}}</h1>
    <input type="text" value=" {{teste.regularMarketPrice}}" name="quantidade_atual">
    <h1> sigla:  {{teste.symbol}}</h1>
    <input type="text" value="{{teste.symbol}}" name="sigla">

    <input type="submit" value="enviar">
        </form>
    
    
</body>
</html>