
{% extends 'layout/layout.html' %}
{%load static %}
{% block title %}Criar Carteira{% endblock %}
{% block css %}
<link href={% static "/css/styles_layout.css" %} rel="stylesheet">
{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <form action="{% url 'add_acoes_carteira'%}" method="post" class="p-0 m-0 mt-lg-3">
        {% csrf_token %}

    <div class="overflow-hiden m-5">
        <div class="row justify-content-around">

            <input class="form-check-input me-1 mb-2 col-sm-1 col-md-1 col-lg-1 col-xl-1 order-first" type="text" name="buscaAcao">
     

            <div class="col-lg-3 col-md-6 col-sm-6" 
            style="width: fit-content;">
                <button class="btn btn-outline-info btn-lg mt-sm-2 m-md-3 m-lg-0 mt-lg-1 mb-2 p-lg-2" type="submit">Buscar ações</button>
            </div>

        </form>

        <form action="{% url 'add_acoes_carteira'%}" method="post" class="p-0 m-0 mt-lg-3">
            {% csrf_token %}

            <div class="col-lg-3 col-md-6 col-sm-6 mt-sm-3 mt-md-4 mt-lg-2">
                <div class="p-lg-2">
                    <a href="#" class="btn-link text-lg-h2 text-md-h3 text-sm-h5"> <!---->
                        Filtro
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-filter-right" width="35px" height="35px" viewBox="0 0 16 16">
                            <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"/>
                        </svg>
                    </a>
                </div>

            </div>
            <!--
                Já que tem o botão salvar ao fim do formulário há necessidade deste botão no início?
                <div class="col">
                <button type="button" class="btn btn-success">Adicionar ações à carteira</button>
            </div>
            -->

        </div>
      
        <input  type="hidden" value="{{carteira}}" name="carteira" id="carteira">

        
        <div class="d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-success mt-3">Salvar</button>
        </div>
        <input  type="hidden" value="{{user.id}}" name="usuario_id" id="usuario_id">
        {% for list in lista %}

            <!--d-flex flex-column justify-content-center align-items-center-->
            <ul class="list-group">
                <li class="row justify-content-around list-group-item pl-4 pt-2 m-0 mb-2 pb-2 bd-highlight rounded" style="height: fit-content; background-color: rgba(37, 37, 37, 0.08);">
                    <input class="mb-2 col-sm-12 col-md-7 col-lg-7 col-xl-3 w-auto " type="checkbox" id="" name="acao" value="{{list.id}}" placeholder="digite o id da ação para confirmar" />

                    <!--Campos que devem ser preenchidos pela biblioteca que trará os dados das ações-->
                    <div>
                        

                        <label class="form-check-label flex-fill mb-2 ps-4 col-sm-12 col-md-8 col-lg-7 col-xl-8 offset-xl-1" for="acao1">Nome: {{list.nome}}</label>

                    </div>

                    <label class="form-check-label mb-2 col-sm-12 col-md-5 col-lg-5 col-xl-3 text-sm-start text-md-end text-lg-end text-xl-end " for="quantidadeid">Data de aquisição</label>
                    <input class="mb-2 col-sm-12 col-md-7 col-lg-7 col-xl-3 w-auto " type="date" id="" name="dataCompra" placeholder="dd/mm/aaaa" />
                    
                    <label class="form-check-label mb-2 col-sm-12 col-md-5 col-lg-5 col-xl-3 text-sm-start text-md-end text-lg-end text-xl-end" for="preco">Preço por ação</label>
                    <input class="mb-2 col-sm-12 col-md-6   col-lg-7 col-xl-3 w-auto" type="number" step="0.01" placeholder="R$" name="precoPago" min="0.01"/>
                    <label class="form-check-label mb-2 col-sm-12 col-md-5 col-lg-5 col-xl-3 text-sm-start text-md-end text-lg-end text-xl-end" for="preco">quantidade</label>
                    <input class="mb-2 col-sm-12 col-md-6   col-lg-7 col-xl-3 w-auto" type="number" step="0.01"  name="quantidade_atual" min="0.01"/>
                   
                    
                </li>

               

            </ul>
            {% endfor %}

           

        </form>            
                
    

    </div>



</div>



{% endblock %}