
{% extends 'layout/layout.html' %}
{%load static %}
{% block title %}Criar Carteira{% endblock %}
{% block css %}
<link href={% static "/css/styles_layout.css" %} rel="stylesheet">
{% endblock %}
{% block content %}




<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="overflow-hiden m-5">
        <div class="row justify-content-around">

            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="p-3
                bg-light 
             
             " style="color: blue;  text-align: center; font-size: 14px;">ESCOLHA AS AÇÕES PARA ESSA CARTEIRA</div>
            </div>

        </div>

            </div>
            <!--
                Já que tem o botão salvar ao fim do formulário há necessidade deste botão no início?
                <div class="col">
                <button type="button" class="btn btn-success">Adicionar ações à carteira</button>
            </div>
            -->

        </div>
    
        <form action="" method="post" class="p-0 m-0 mt-lg-3 m-lg-5">
            {% csrf_token %}
            
            <!--d-flex flex-column justify-content-center align-items-center-->
            <ul class="list-group">
                <li class="row justify-content-around list-group-item pl-2 pt-2 m-0 mb-2 pb-2 bd-highlight rounded   bg-light border-bottom-secondary" style="height: fit-content; background-color: rgba(37, 37, 37, 0.08); width: 1200px; ">
                    
                    <!--Campos que devem ser preenchidos pela biblioteca que trará os dados das ações-->
                    <div>
                        <label class="form-check-label flex-fill mb-2 ps-3 col-md-8 col-md-5 col-lg-5 col-xl-5 offset-xl-1 border-bottom-bg-secondary" for="acao1">DIGITE O NOME DA CARTEIRA:</label>
                        <input class="form-check-input me-1 mb-4 col-sm-1 col-md-4 col-lg-1 col-xl-1 order-first"  style="width: 100px; margin-right: 100px;"  type="text" value="" name="nome">
                        <input  type="hidden" value="{{user.id}}" name="usuario_id" id="usuario_id">
                    
                    </div>
                </li>
            </ul>

            <div class="d-md-flex justify-content-md-end" ">
                <button type="submit" class="btn btn-success mt-3 m-lg-3">Salvar</button>
            </div>

        </form>            
                
    

    </div>



</div>



{% endblock %}