
{% extends 'layout/layout.html' %}
{%load static %}
{% block title %}Criar Carteira{% endblock %}
{% block css %}
<link href={% static "/css/styles_layout.css" %} rel="stylesheet">
{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="overflow-hiden m-5">
        <div class="row">
            <div class="col">
                <div class="p-3 border-bottom-secondary bg-light rounded h2" style="color: blue;">Escolha as ações para essa carteira</div>
            </div>

            <div class="col">
                <div class="p-3 h3" style="width: fit-content;">
                    <a href="#" class="btn btn-link">
                        Filtro
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-right" viewBox="0 0 16 16">
                            <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"/>
                        </svg>
                    </a>
                </div>

            </div>
            <!--
                Já que tem o botão salvar ao fim do formulário há necessidade deste botão no início?
                <div class="col">
                <button type="button" class="btn btn-success">Adicionar ações à carteira</button>
            </div>
            -->

        </div>
    
        <form action="" method="post" class="ms-1 ps-6">

            <!--d-flex flex-column justify-content-center align-items-center-->
            <ul class="list-group">
                <li class="list-group-item d-flex align-items-center pl-4 pt-2 m-2 pb-2 bd-highlight rounded" style="height: 90px; background-color: rgba(37, 37, 37, 0.08);">
                    
                    <!--Campos que devem ser preenchidos pela biblioteca que trará os dados das ações-->
                    <input class="form-check-input me-1 inputCriarCarteira" type="checkbox" value="" id="acao1">
                    <img src="" id="imgAcao" alt="AÇÃO X"/>
                    <label class="form-check-label flex-fill" for="acao1">Informações sobre a ação x</label>

                    <label class="form-check-label text-right pr-2 flex-fill" for="quantidadeid">Data de aquisição</label>
                    <input class="" type="date" id="" value="dd/mm/aaaa" />
                    
                    <label class="form-check-label text-right pr-2 flex-fill" for="preco">Preço por ação</label>
                    <input class="" type="text" placeholder="RX,XX" aria-label="R X,XX" />
                </li>

                <li class="list-group-item d-flex align-items-center pl-4 pt-2 m-2 pb-2 bd-highlight rounded" style="height: 90px; background-color: rgba(37, 37, 37, 0.08);">
                    
                    <!--Campos que devem ser preenchidos pela biblioteca que trará os dados das ações-->
                    <input class="form-check-input me-1 inputCriarCarteira" type="checkbox" value="" id="acao1">
                    <img src="" id="imgAcao" alt="AÇÃO X"/>
                    <label class="form-check-label flex-fill" for="acao1">Informações sobre a ação x</label>

                    <label class="form-check-label text-right pr-2 flex-fill" for="quantidadeid">Data de aquisição</label>
                    <input class="" type="date" id="" value="dd/mm/aaaa" />
                    
                    <label class="form-check-label text-right pr-2 flex-fill" for="preco">Preço por ação</label>
                    <input class="" type="text" placeholder="RX,XX" aria-label="R X,XX" />
                </li>

                <li class="list-group-item d-flex align-items-center pl-4 pt-2 m-2 pb-2 bd-highlight rounded" style="height: 90px; background-color: rgba(37, 37, 37, 0.08);">
                    
                    <!--Campos que devem ser preenchidos pela biblioteca que trará os dados das ações-->
                    <input class="form-check-input me-1 inputCriarCarteira" type="checkbox" value="" id="acao1">
                    <img src="" id="imgAcao" alt="AÇÃO X"/>
                    <label class="form-check-label flex-fill" for="acao1">Informações sobre a ação x</label>

                    <label class="form-check-label text-right pr-2 flex-fill" for="quantidadeid">Data de aquisição</label>
                    <input class="" type="date" id="" value="dd/mm/aaaa" />
                    
                    <label class="form-check-label text-right pr-2 flex-fill" for="preco">Preço por ação</label>
                    <input class="" type="text" placeholder="RX,XX" aria-label="R X,XX" />
                </li>

                <li class="list-group-item d-flex align-items-center pl-4 pt-2 m-2 pb-2 bd-highlight rounded" style="height: 90px; background-color: rgba(37, 37, 37, 0.08);">
                    
                    <!--Campos que devem ser preenchidos pela biblioteca que trará os dados das ações-->
                    <input class="form-check-input me-1 inputCriarCarteira" type="checkbox" value="" id="acao1">
                    <img src="" id="imgAcao" alt="AÇÃO X"/>
                    <label class="form-check-label flex-fill" for="acao1">Informações sobre a ação x</label>

                    <label class="form-check-label text-right pr-2 flex-fill" for="quantidadeid">Data de aquisição</label>
                    <input class="" type="date" id="" value="dd/mm/aaaa" />
                    
                    <label class="form-check-label text-right pr-2 flex-fill" for="preco">Preço por ação</label>
                    <input class="" type="text" placeholder="RX,XX" aria-label="R X,XX" />
                </li>
            </ul>

            <div class="d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-success mt-3">Salvar</button>
            </div>

        </form>            
                
    

    </div>



</div>



{% endblock %}