
{% extends 'layout/layout.html' %}
{%load static %}
{% block title %}Criar Carteira{% endblock %}
{% block css %}
<link href={% static "/css/styles_layout.css" %} rel="stylesheet">
{% endblock %}
{% block content %}




<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="overflow-hiden m-5">
        <div class="row justify-content-around">

            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="p-3
                bg-light 
             
             " style="color: blue;  text-align: center; font-size: 14px;">ESCOLHA AS AÇÕES PARA ESSA CARTEIRA</div>
            </div>

        </div>

            </div>
            <!--
                Já que tem o botão salvar ao fim do formulário há necessidade deste botão no início?
                <div class="col">
                <button type="button" class="btn btn-success">Adicionar ações à carteira</button>
            </div>
            -->

        </div>
    
        <form action="" method="post" class="p-0 m-0 m-lg-5 col-md-11">
            {% csrf_token %}
            
            <div class="row d-md-flex">

            <!--d-flex flex-column justify-content-center align-items-center-->
            <div class="row list-group-item col-md-12 bd-highlight rounded   bg-light border-bottom-secondary" style="background-color: rgba(37, 37, 37, 0.08); width: 1200px; ">    
                <!--Campos que devem ser preenchidos pela biblioteca que trará os dados das ações-->
                <div class="col-md-12 d-flex align-items-center">
                    <label class="form-check-label col-md-4 " for="acao1">DIGITE O NOME DA CARTEIRA:</label>
                    <input class="col-md-2 "  style=" margin-right: 100px;"  type="text" value="" name="nome">
                    <input  type="hidden" value="{{user.id}}" name="usuario_id" id="usuario_id">
                </div>
            </div>

            <div class="d-md-flex  col-md-12 justify-content-md-end">
                <button type="submit" class="btn btn-success mt-3 m-lg-3">Salvar</button>
            </div>
        </div>

        </form>            
                
    

    </div>



</div>



{% endblock %}