{% extends 'layout/layout.html' %}
{%load static %}
{% block title %}relatorios{% endblock %}
{% block css %}

<link href={% static "css/styles_layout.css" %} rel="stylesheet">
{% endblock %}
{% block content %}

<div class="container" style=" display: flex; justify-content: space-around; margin-top: 230px;">

 

<div class="card" >
  <h5 class="card-header" style="background: #99ccff; color: black; width:300px; height: 80px; text-align: center;">Ver relatório Geral</h5>
  <div class="card-body">
    <a class="btn btn-success" href="#" role="button" style="background:#05FF00;margin-left: 3.7em; width: 125px;"> Ver relatório</a>
  </div>
</div>


<div class="card">
  <h5 class="card-header" style=" background: #99ccff; color: black; width:300px; height: 80px; text-align: center;">Ver relatórios específicos</h5>
  <div class="card-body">
    <a class="btn btn-success" href="#" role="button" style="background:#05FF00;margin-left: 3.7em; width: 125px;"> Ver relatórios</a>
      
  </div>
</div>

</div>

{% endblock %}